<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Journey</title>
    <!-- CSS -->
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.CSS" />
  </head>
  <body>
    
      <nav class="navbar navbar-default" style="background-color: #333060;">
        <div class="container container-xl " style="background-color: #333060;">
          <div class="navbar-header">
            <span class="navbar-brand">XINKAI GE</span>
          </div>

          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"  href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/work">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT ME</a>
            </li>
          </ul>
        </div>
      </nav>
    

    <div class="container">
  </body>
</html>
