<div class="sec-III">
  <section class="about-section">
    <h2 class="small-heading">ABOUT ME</h2>
    <h1 class="main-heading">
      Hello World! I'm Xinkai Ge, a dynamic creator deeply immersed in the
      realms of animation, game design, and interactive media.
    </h1>
    <p class="about-description">
      I have honed my skills through various work, including advertising design
      and project management for the gaming industry. My passion for games led
      me to collaborate on marketing and advertising projects for renowned
      gaming brands like NetEase Games, where I combined data analysis, user
      insights, and creative strategy to produce engaging, interactive
      advertising campaigns. <br />
      Whether it's designing immersive game interfaces or managing large-scale
      gaming projects, I'm driven by the desire to create captivating,
      interactive worlds that players can lose themselves in. Proudly based in
      the vibrant city of Shenyang, I'm excited to continue pushing the
      boundaries of game design and interactive digital media. Let's build the
      future of gaming together!
    </p>
  </section>
</div>
