<div class="sec-II">
  <div class="main-container">
    <!-- First section -->
    <div class="content-block">
      <div class="text-block">
        <h1 class="title">
          GAME <br />
          DESIGN
        </h1>
        <p class="sec-description">
          Immersive design crafting unique experiences based in game.
        </p>
      </div>
      <div class="image-block">
        <a href="/game">
          <img
            src="800.png"
            href="/game.ejs"
            alt="Urban Era Image"
            class="image"
        /></a>
      </div>
    </div>

    <!-- Second section -->
    <div class="content-block">
      <div class="text-block">
        <h1 class="title">
          ANIMATION <br />
          CRAFT
        </h1>
        <p class="sec-description">
          Innovative design creating digital experiences that transcend catoon.
        </p>
      </div>
      <div class="image-block">
        <a href="/ani">
          <img src="2.png" alt="Pixel Craft Image" class="image"
        /></a>
      </div>
    </div>

    <!-- Third section -->
    <div class="content-block">
      <div class="text-block">
        <h1 class="title">
          CODING <br />
          VIBES
        </h1>
        <p class="sec-description">
          Advanced digital experiences based on programming.
        </p>
      </div>
      <div class="image-block">
        <a href="/code">
          <img src="3.png" alt="Tech Vibes Image" class="image"
        /></a>
      </div>
    </div>
  </div>
</div>
