<%- include("partials/header") -%> <%- include("partials/part-about") -%>

<div class="sec-about">
  <div class="about">
    <!-- Left Section -->
    <div class="left-section">
      <h2>Job<br />History</h2>
      <p>adipiscing elit mattis faucibus odio feugiat.</p>
    </div>

    <!-- Right Section -->
    <div class="right-section">
      <div class="job-item">
        <div class="job-details">
          <h3>Advertising Design</h3>
          <p>
            Lorem ipsum dolor sit amet tragon consectetur dolseim adipiscing
            elit mattis faucibus odio feugiat. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Praesent quis odio eu sem sagittis
            porttitor. Nam eleifend risus lectus, ac sodales neque tempus vitae.
            In hac habitasse platea dictumst.
          </p>
        </div>
      </div>

      <div class="job-item">
        <div class="job-details">
          <h3>Project Manager</h3>
          <p>
            Lorem ipsum dolor sit amet tragon consectetur dolseim adipiscing
            elit mattis faucibus odio feugiat. freestar freestar Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Praesent quis odio eu
            sem sagittis porttitor. Nam eleifend risus lectus, ac sodales neque
            tempus vitae. In hac habitasse platea dictumst.
          </p>
        </div>
      </div>

      <div class="job-item">
        <div class="job-details">
          <h3>Game design</h3>
          <p>
            Lorem ipsum dolor sit amet tragon consectetur dolseim adipiscing
            elit mattis faucibus odio feugiat. freestar Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Praesent quis odio eu sem
            sagittis porttitor. Nam eleifend risus lectus, ac sodales neque
            tempus vitae. In hac habitasse platea dictumst.
          </p>
        </div>
      </div>

      <div class="job-item">
        <div class="job-details">
          <h3>Game design</h3>
          <p>
            Lorem ipsum dolor sit amet tragon consectetur dolseim adipiscing
            elit mattis faucibus odio feugiat. freestar freestar Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Praesent quis odio eu
            sem sagittis porttitor. Nam eleifend risus lectus, ac sodales neque
            tempus vitae. In hac habitasse platea dictumst. Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Praesent quis odio eu sem
            sagittis porttitor. Nam eleifend risus lectus, ac sodales neque
            tempus vitae. In hac habitasse platea dictumst.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
