<%- include("partials/header1") -%>

<div class="sec-II">
  <div class="main-container">
    <!-- Second section: Pixel Craft -->
    <div class="content-block">
      <div class="text-block">
        <h1 class="title">
          ANIMATION <br />
          CRAFT
        </h1>
        <p class="description">
          Innovative design creating digital experiences that transcend catoon.
        </p>
      </div>
      <div class="image-block">
        <a href="/ani">
          <img src="2.png" alt="Pixel Craft Image" class="image"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- .............sec-II................ -->
<!-- <div class="ani">
  <section class="article-grid">
    <div class="article-item">
      <img src="1.jpg" alt="Article 1" />
      <div class="article-info">
        <p class="date">12 April 2023</p>
        <h3>Unveiling the Art: A Deep Dive into Creative Process</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="article-item">
      <img src="2.png" alt="Article 2" />
      <div class="article-info">
        <p class="date">12 April 2023</p>
        <h3>Design Diaries: Crafting Visual Narratives</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="article-item">
      <img src="3.png" alt="Article 3" />
      <div class="article-info">
        <p class="date">12 April 2023</p>
        <h3>The Palette of Options: Exploring Color in Design</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
    <div class="article-item">
      <img src="800.png" alt="Article 4" />
      <div class="article-info">
        <p class="date">12 April 2023</p>
        <h3>From Concept to Canvas: A Designer's Journey</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </section>
</div> -->

<%- include("partials/footer") -%>
