<%- include("partials/header1") -%>

<div class="sec-II">
  <div class="main-container">
    <!-- Third section -->
    <div class="content-block">
      <div class="text-block">
        <h1 class="title">
          CODING <br />
          VIBES
        </h1>
        <p class="sec-description">
          Advanced digital experiences based on programming.
        </p>
      </div>
      <div class="image-block">
        <a href="/code">
          <img src="3.png" alt="Tech Vibes Image" class="image"
        /></a>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
