<%- include("partials/header1") -%>

<div class="sec-II">
  <div class="main-container">
    <div class="content-block">
      <div class="text-block">
        <h1 class="title">
          GAME <br />
          DESIGN
        </h1>
        <p class="text-description">
          Immersive design crafting unique experiences based in Macao.
        </p>
      </div>
      <div class="image-block">
        <a href="/game">
          <img
            src="800.png"
            href="/game.ejs"
            alt="Urban Era Image"
            class="image"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- ...................game............................ -->
<div class="sec-game">
  <div class="game">
    <!-- Header Section -->
    <section class="product-section">
      <div class="product-details">
        <h2>Missing In Macao</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur. Ac gravida arcu amet volutpat
          consectetur. Vivamus lacus nulla cursus consequat risus.
        </p>
      </div>
      <div class="product-image">
        <img src="4.gif" alt="game panel" />
      </div>
    </section>

    <!-- game design Section -->
    <section class="game-design-section">
      <!-- <h2>Shop More</h2> -->
      <div class="game-design-grid">
        <!-- First Img -->
        <div class="game-design-item">
          <img src="lihui.jpg" alt="game visual design" />
          <h3>What are Webflow templates, Ebook</h3>
          <span class="description">DESIGN</span>
        </div>
        <!-- Second Img -->
        <div class="game-design-item">
          <img src="game-home.jpg" alt="game homepage" />
          <img src="game-panel.jpg" alt="game panel" />
          <h3>How to use Webflow Template (Tutorial)</h3>
          <span class="description">PANEL</span>
        </div>
        <!-- Third Img -->
        <div class="game-design-item">
          <img src="game-flow.jpg" alt="game flow" />
          <h3>Unique Set of Icons for your next project</h3>
          <span class="description">FLOW <br />CHART </span>
        </div>
      </div>
    </section>
  </div>
</div>

<%- include("partials/footer") -%>
