<%- include("partials/header") -%>

  <!-- .............sec-I......................... -->
<div class="sec-I">
  <section class="intro-section">
    <div class="text-section">
        <h1>I'M KAI</h1>
        <p>Elevating brand identities, systems, and apps through collaborative motion design.</p>
        <a href="mailto:gexi@tcd.ie" class="email">gexi@tcd.ie</a>
    </div>
    <div class="reel-section">
        <div class="avatar">
            <img src="1.jpg" alt="avatar" class="reel-image">
            
        </div>
        
    </div>
 </section>
</div>

 <!-- .............sec-II work......................... -->
 <%- include("partials/part-work") -%>
  
 <!-- .............sec-III about......................... -->
 <%- include("partials/part-about") -%>

<%- include("partials/footer") -%>
</posts.length;>
